:host {
    --active-color: #99A1D8;
    --color: #8388A1;

    button {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
        -webkit-appearance: none;
        padding: 0;
        background: transparent;
        border: 0;
        outline: 0;
        color: var(--color);
        text-align: center;
        &.active {
            color: var(--active-color);
        }
    }
}
